.container{
    
    height: 95%;
}

main{
    background-color: #114d6d;
}
/* titulo principal */
h2{
 
    color: #b8e5f5;
    font-family: "Montserrat", sans-serif;
    margin-left: 150px;
    padding-top: 4vh;
    
}

/* informacoes do perfil */
.conteudo{
   margin-left: 50vh;
    margin-top: 50px;
    background-color: #1a668f;
    width: 110vh;
    height: 130vh;
    border-radius: 10px;
}

/* titulo do usuario */
.tituloUser{
    color: #b8e5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    margin-left: 40px;
    padding-top:100px ;
    
}

/* textos  */
.respostas{
    color: #ffff;
    font-family: "Montserrat", sans-serif; 
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
}

/* subtitulos  */
.subtitulo{
    color: #b8e5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 10px;
}

/* img do perfil */
.imgUser{
    margin-left: 75vh;
    transform: translateY(-25vh);
    width: 260px;
}

/* titulo das secoes */
.tituloSerie{
    color: #b8e5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    justify-content: center;
    display: flex;
    margin-top: -17vh;  
}
/* imagens dos filmes */
.series li{
    margin-top: 5vh;
    margin-left: 95px;
    gap: 45px;
}

/* titulos das filmes favoritos */
.titulofilme{
    color: #b8e5f5;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    justify-content: center;
    display: flex;
    margin-top: 5vh;
}
/* imagens dos filmes */
.filmes li{
    margin-top: 5vh;
    margin-left: 95px;
    gap: 45px;
}