/* CSS DA SERIE */
/* conteiner principal */
.container{
    background-color: #0A2239;
    height: 95%;
}
/* titulo principal */
h2{
    color: antiquewhite;
    color: #b8e5f5;
    font-family: "Montserrat", sans-serif;
    margin-left: 150px;
    padding-top: 4vh;
    
}