/* CSS do Cabeçalho */
.conteiner {
  background-color: #1A472A; 
  padding: 1.5rem;
  text-align: center;
  border-bottom: 4px solid #AAAAAA; /* prata */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* logo */
.conteiner h1 {
    font-family: 'HarryP';
    font-size: 60px;
    margin: 0;
    color: #e0e0e0;
}
