
 .card {
  background-color: #1A472A; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: auto;
}

.card h3 {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.1rem;
  color: #dedede;
}

.card p {
  margin: 0;
  color: #666;
  font-size: 0.95rem;
}
